<div class="section-a">
    <div class="col-md-4 col-md-offset-1">
       <% if @recipe.image.present? %>
        <%= image_tag(@recipe.image.thumb.url, class: "thumbnail") %>
       <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
       <% end %>
    </div>
    <div class="col-md-5">
      <h2><%= @recipe.title  %></h2>
      <p><%=  @recipe.description %></p>

    </div>
</div>
  <div class="col-md-12">
    <%=  link_to  "back", root_path  %>  
  </div>
